.title {
  height: 70px;
  font-family: Optima, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #597f8a;
  text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 20px;

  .navbar-element {
    flex-grow: 1;
    text-align: center;
    font-family: Didot, serif;
    font-size: 20px;

    .inner-navbar-element {
      color: #c7c6c2;
      padding: 5px;

      &:hover {
        color: #636361;
      }
    }

  }
}

.header {
  text-align: center;
  font-size: 28px;
  margin-top: 100px;
}

.content {
  font-family: Optima, sans-serif;
  font-size: 18px;
  text-align: center;
}

.about {
}

.resume-container {
  height: 800px;
  border-top: 2px solid #cc9347;
  display: flex;
  flex-direction: row;

  .company-names {
    border-right: 1px solid #c7c6c2;
    flex-basis: 30%;
    padding-right: 10px;
    padding-top: 25px;
    
    .company {
      font-family: Optima, sans-serif;
      font-size: 24px;
      color: #636361;
    }

    .company-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .date {
        font-size: 14px;
        color: #c7c6c2;
      }

      .position {
        font-size: 14px;
        color: #c7c6c2;
      }
    }

    hr {
      height: 5px;
      border: 0;
      box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    }
  }

  .job-descriptions {
    flex-basis: 70%;
    font-family: Optima, sans-serif;
    font-size: 17px;
    line-height: 1.3;
    
    li {
      padding: 8px;
    }
  }
}

.projects {
  height: 100px;
  border-top: 2px solid #cc9347;
}
.contact {
  height: 100px;
  border-top: 2px solid #cc9347;
  border-bottom: 2px solid #cc9347;
  background-color: #f5f5f5;
}
